body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

table {
  margin: 0 auto;
}

label, input, select {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

input, select {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.hidden {
  display: none;
}